<% include partials/header %>

    <body>
        <% include partials/nav.ejs %>
            <div class="container">
                <header class="masthead">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12 text-center">
                                <h1 class="font-weight-light">HireMe portal !</h1>
                                <p class="lead">A very simple and awesome portal to hire candidates .....</p>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

            <% include partials/footer %>